@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#okvir {
  background-image: url("img/bgimg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
/* header */
header {
  height: 12vh;
  position: relative;
}

#naslov {
  position: absolute;
  top: 0vh;
  left: 3vw;
  font-size: 10vh;
  font-weight: bolder;
  padding-bottom: 3vh;
}

#search {
  position: absolute;
  top: 2.5vh;
  right: 3vw;
  width: 25vw;
  height: 7vh;
  border-radius: 15vh;
}
input[type="search"] {
  padding-left: 1.5vw;
  font-size: 3.5vh;
  color: rgb(14, 13, 13);
}

hr {
  width: 96vw;
  margin-left: 2.5vh;
}

/* main */
main {
  position: relative;
  visibility: hidden;
}

#first {
  position: absolute;
  top: 11vh;
  left: 42vw;
  height: 42vh;
  background: rgba(0, 0, 0, 0.1);
  width: 26vw;
  text-align: center;
  border-radius: 50%;
}

#city {
  font-size: 9vh;
  padding-top: 5vh;
}
#temp {
  font-size: 9vh;
  padding-top: 2vh;
}
#icon {
  width: 10vw;
  height: 10vh;
}

#second {
  position: absolute;
  top: 40vh;
  left: 42vw;
  height: 34vh;
  width: 34vh;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-left: 23vw;
  font-size: 2.6vh;
}

#feel-like {
  padding-top: 5vh;
  text-align: center;
}

.krug {
  padding-top: 2vh;
  text-align: center;
}

#third {
  visibility: hidden;
}

footer {
  height: 9vh;
  position: absolute;
  bottom: 0;
}
#text {
  margin-left: 33vw;
  margin-top: 3vh;
}
#dugmici {
  position: absolute;
  bottom: 1.5vh;
  right: 0vw;
}
.foot {
  width: 8vw;
  height: 6vh;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 10vh;
  opacity: 0.5;
  font-size: 2.5vh;
  border: none;
}
#reg {
  margin-right: 1vw;
}
#logout {
  position: absolute;
  bottom: 0vh;
  right: 0vw;
}


.obrisi {
  display: none;
}


/* forme */


#login {
  border: 1vh solid #f1f1f1;
  width: 32vw;
}

#regis {
  border: 1vh solid #f1f1f1;
  width: 32vw;
}
.prikazi {
  position: absolute;
  bottom: 20vh;
  left: 10vh;
  color: white;
  background-color: black;
}

.greska {
  color: red;
  margin:1vh 5vw;

}
.ukini{
  position: absolute;
  top: 1vh;
  right: 1vh;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 2vh 4vh;
  margin: 2vh 4vh;

  display: inline-block;
  border: 1.2vh solid #ccc;
  box-sizing: border-box;
}
label {
  padding-left: 2vh;
}

button:hover {
  opacity: 0.8;
}
.foot1 {
  width: 6vw;
  height: 5vh;
  background: rgba(199, 193, 193, 0.9);
  color: rgb(22, 21, 21);
  border-radius: 10vh;
  opacity: 0.5;
  font-size: 2.5vh;
  border: none;
  margin-left: 6vw;
  margin-bottom: 1.5vh;
}
